* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  font-size: 100%;
  height: 100%;
  background-color: #f4f4f4;
  overflow:hidden;
}

.container {
  width: 100%;
  margin: auto;
  height:100vh;
  background-color: #f4f4f4;
}

.header {
  background-color: #f5f5f5;
  width: 100%;
  position: relative;
  margin: auto;
  height:3rem;
}

.logo-img {
  border:0;
  float:left;
  width: 20%;
  height: 3rem;
}

.btn-nav-right {
  float: right;
  display: inline-flex;
}


/* .greeting{
    background-color: #f4f4f4;
    float: right;
    width: 85%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
 } */
.navigation-container {
  width: 100%;
  position: relative;
}

ul.link-list {
  margin: 0;
  padding:0;
  list-style: none;
  text-align: center;
  position: relative;
  display: inline-flex;
}

.btn-navbar {
  font-family: 'Muli', sans-serif;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.97rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  cursor: pointer;
}

.link-list a:link, .link-list a:visited, .link-list a:focus, .link-list button:link, .link-list button:visited, .link-list button:focus {
  color: #ffffff;
  background: #4CAF50;
}

.link-list a:hover, .link-list button:hover {
  background: #39c68f;
  color: white;
  cursor: pointer;
}

.link-list a:hover:not(.navbar-active){
  background: #39c68f;
  color: white;
}

.link-list li a.navbar-active {
  background: #39c68f;
  color: white;
}

.directory-container {
  width: 15%;
  height: 100%;
  background-color: salmon;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}

/*.greeting button{
    float: right;
    margin-right: 7%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.greeting h4{
    vertical-align: middle;
    font-family: Tahoma;
    font-size: 32px;
    margin-left: 15px;
} */
/* Sidebar navigation */
.file-nav-container {
  width: 20%;
  height: 100vh;
  background-color: #484848;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid #c3c3c3;
}

.file-nav-container h2 {
  font-family: Tahoma;
  text-align: center;
  font-weight: bold;
  margin-top: 10%;
  color: white;
}

ul.file-nav-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.btn-link{
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #A8A8A8;
  width: 100%;
  padding: 0;
  text-decoration: underline;
  font-family: inherit;
  font-size: inherit;
  text-align:left;
  text-decoration: none;
}

.file-nav-list a {
  padding-left: 10%;
}

.file-nav-list input {
  display: flex;
  margin: 4% 1% 1% 0;
}

/* .file-nav-list a{
  padding: 2% 70% 2% 2%;
} */
.file-nav-list a {
    font-size:1.2rem;
  display: block;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: #A8A8A8;
  width: 100%;

}

.file-nav-list a:link, .file-nav-list a:visited, .file-nav-list a:focus {
  color: #A8A8A8;
  background: #484848;
}

.file-nav-list a:hover {
  background: #787878;
  color: white;
  cursor: pointer;
}

.nav-checkbox {
  float: right;
}



/* Main display */
.main-display {
  width: 80%;
  height: 100%;
  background-color: rgb(49, 48, 38);
  float: right;
  overflow-y: auto;
}

.sub-page-main{
  width: 80%;
  height:100%;
  background-color: #f4f4f4;
  float: right;
}

.scroll {
  height:100%;
  overflow-y: auto;
}
/* .scroll::-webkit-scrollbar { width: 0 !important }
.scroll { overflow: -moz-scrollbars-none; }
.scroll { -ms-overflow-style: none; } */

.display-menu{
  background-color: rgb(49, 48, 38);
  height:2.5rem;
}


/* Display buttons styles */
.btn-display-menu {
  font-family: 'Muli', sans-serif;
  background-color: rgb(49, 48, 38);
  color: white;
  padding: 0 1%;
  height:2.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  border:none;
}

/* Clear floats (clearfix hack) */
.display-menu:after {
  content: "";
  clear: both;
  display: table;
}

.btn-display-menu:hover {
  background-color: #26251f;
}

.inputfile+label:hover {
  background-color: #26251f;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  color: white;
  padding: 1%;
  font-size: 0.9em;
  cursor: pointer;
  border:none;
}

.upload {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

#dropZone {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  transition: 0.5s;
  background-color: #f5f5f5;
  display: block;
  position: relative;
}

#img-upload {
  width: 10%;
  display: none;
}

#progressBar {
  display: none;
}

#progress {
  display: none;
}

#error {
  color: red;
  display: none;
}

#dropZone:after,
#dropZone:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: -2;
  border-radius: 8px 8px 0 0;
}

#dropZone:before {
  z-index: -1;
  background: repeating-linear-gradient(45deg,
    transparent,
    transparent 5%,
    black 5%,
    black 10%);
  opacity: 0;
  transition: 0.5s;
}

#dropZone.fileHover:before {
  opacity: 0.25;
}

#files {
  border: 1px dotted #0088cc;
  padding: 20px;
  width: 200px;
  display: none;
}

#dropZone.fileHover {
  box-shadow: 0 0 16px blue;
  border: 3px dashed #0088cc;
}

/* Table style */
table {
  /* background-color: #F3F3F3; */
  border-collapse: collapse;
  width: 100%;
  margin: 0;
}

th {
  background-color: #484848;
  color: #FFF;
  padding: 5px 10px;
}

th small {
  font-size: 9px;
}

td, th {
  text-align: left;
}

a {
  text-decoration: none;
}

td a {
  color: #663300;
  display: block;
  padding: 5px 10px;
}

th a {
  padding-left: 0
}

td:nth-of-type(2) a {
  background: url(./.images/file.png) no-repeat 10px 50%;
  padding-left: 35px;
}

th:nth-of-type(2) {
  padding-left: 35px;
}

td:not(:nth-of-type(2)) a {
  background-image: none !important;
}

tr:nth-of-type(odd) {
  background-color: #E6E6E6;
}

tr:hover td {
  background-color: #CACACA;
}

tr:hover td a {
  color: #000;
}

/* icons for file types (icons by famfamfam) */
/* images */
table tr td:nth-of-type(2) a[href$=".jpg"],
table tr td:nth-of-type(2) a[href$=".png"],
table tr td:nth-of-type(2) a[href$=".gif"],
table tr td:nth-of-type(2) a[href$=".svg"],
table tr td:nth-of-type(2) a[href$=".jpeg"] {
  background-image: url(../images/file-icons/image.png);
}

/* zips */
table tr td:nth-of-type(2) a[href$=".zip"] {
  background-image: url(../images/file-icons/zip.png);
}

/* css */
table tr td:nth-of-type(2) a[href$=".css"] {
  background-image: url(../images/file-icons/css.png);
}

/* docs */
table tr td:nth-of-type(2) a[href$=".doc"],
table tr td:nth-of-type(2) a[href$=".docx"],
table tr td:nth-of-type(2) a[href$=".ppt"],
table tr td:nth-of-type(2) a[href$=".pptx"],
table tr td:nth-of-type(2) a[href$=".pps"],
table tr td:nth-of-type(2) a[href$=".ppsx"],
table tr td:nth-of-type(2) a[href$=".xls"],
table tr td:nth-of-type(2) a[href$=".xlsx"] {
  background-image: url(../images/file-icons/office.png);
}

/* videos */
table tr td:nth-of-type(2) a[href$=".avi"],
table tr td:nth-of-type(2) a[href$=".wmv"],
table tr td:nth-of-type(2) a[href$=".mp4"],
table tr td:nth-of-type(2) a[href$=".mov"],
table tr td:nth-of-type(2) a[href$=".m4a"] {
  background-image: url(../images/file-icons/video.png);
}

/* audio */
table tr td:nth-of-type(2) a[href$=".mp3"],
table tr td:nth-of-type(2) a[href$=".ogg"],
table tr td:nth-of-type(2) a[href$=".aac"],
table tr td:nth-of-type(2) a[href$=".wma"] {
  background-image: url(../images/file-icons/audio.png);
}

/* web pages */
table tr td:nth-of-type(2) a[href$=".html"],
table tr td:nth-of-type(2) a[href$=".htm"],
table tr td:nth-of-type(2) a[href$=".xml"] {
  background-image: url(../images/file-icons/xml.png);
}

table tr td:nth-of-type(2) a[href$=".php"] {
  background-image: url(../images/file-icons/php.png);
}

table tr td:nth-of-type(2) a[href$=".js"] {
  background-image: url(../images/file-icons/script.png);
}

/* directories */
table tr.dir td:nth-of-type(2) a {
  background-image: url(../images/file-icons/folder.png);
}

/* files */
table tr td:nth-of-type(2) a[href$=".txt"] {
  background-image: url(../images/file-icons/file.png);
}

/* lnk */
table tr td:nth-of-type(2) a[href$=".lnk"] {
  background-image: url(../images/file-icons/lnk.png);
}

/* sql */
table tr td:nth-of-type(2) a[href$=".sql"] {
  background-image: url(../images/file-icons/sql.png);
}

/* link */
table tr td:nth-of-type(2) a[href$=".URL"] {
  background-image: url(../images/file-icons/link.png);
}
#cancel {
  display: none;
}

.butn {
  background: #e7ecf0;
  background-image: -webkit-linear-gradient(top, #e7ecf0, #abc3d1);
  background-image: -moz-linear-gradient(top, #e7ecf0, #abc3d1);
  background-image: -ms-linear-gradient(top, #e7ecf0, #abc3d1);
  background-image: -o-linear-gradient(top, #e7ecf0, #abc3d1);
  background-image: linear-gradient(to bottom, #e7ecf0, #abc3d1);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #030303;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.newuser{
  width: 30%;
  margin-left: 35%;

}

.newuser input{
  width: 100%;
  margin-top:15px;
  background-color: #E8A87C;
  border: none;
  border-radius: 8%;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.main{
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}



.main h3{
  margin: 0;
  text-align: center;
}

.main table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.main table td, .main table th{
  border: 1px solid #c38d9e;
  padding: 8px;
}

.main table tr:nth-child(even){background-color: white;}

.main table tr:hover {background-color: #e27d60;}

.main table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #c38d9e;
color: black;
}

.note button{
  width: 100%;
  margin: 0 auto;
  background-color: #E8A87C;
  border: none;
  border-radius: 8%;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.note textarea{
  width: 100%;
  background-color: white;
}

.box{
  width: 30%;
  margin: 170px auto;
  border: 3px solid #c38d9e;
  padding: 20px;
}

.box h3{
  text-align: center;
  color: black;
  text-decoration: underline;
  text-decoration-color: #c38d9e;
}

.inputs{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.inputs input{
  width: 100%;
  margin: 10px 0px;
  padding: 5px 0px
}

.inputs button{
  width: 100%;
  margin: 0 auto;
  background-color: #E8A87C;
  border: none;
  border-radius: 8%;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.butonas{
  font-family: 'Muli', sans-serif;
  background-color: #E8A87C;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  cursor: pointer;
}

.butonas1{
  font-family: 'Muli', sans-serif;
  background-color: #E8A87C;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  cursor: pointer;
}

.login-error {
  color:white;
  margin-top: 3%;
  text-align: center;
}

.changebox{
  margin-left: 200px;
  margin-top: 100px;
}
