*{
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  font-size: 120%;
  line-height: 1.5em;
}
.container{
    width:100%;
    margin:auto;
    overflow:hidden;
}

.header{
    /* background-color: #f4f4f4; */
    width: 100%;
    border-bottom: 1px solid #c3c3c3;
    position:relative;
    margin:auto;
    overflow: hidden;
}

.logo{
    float: left;
    width: 15%;
}

.logo-img {
  width: 60%;
}

.btn-logout{
  float:right;
}

/* .greeting{
    background-color: #f4f4f4;
    float: right;
    width: 85%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
 } */

.navigation-container {
  width: 100%;
  position: relative;
  overflow: hidden;

}

ul.link-list{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align:center;
  position: relative;
  display: inline-flex;
}

.btn-place{
  padding: 1.5% 1% 0 0;
}

.link-list li{
  margin-right: 15px;
}

button{
  background-color: #4CAF50;
  border: none;
  border-radius: 8%;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.directory-container{
    width:15%;
    height:100%;
    background-color: salmon;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

.maindisplay{
    width:85%;
    height:100%;
    background-color: rgb(49, 48, 38);
    float: right;
}

.upload{
    width:100%;
    height:28%;
    background-color: #F0FFFF;
}

.icons{
    width:100%;
    height:80%;
    background-color: #f4f4f4;
}


/*.greeting button{
    float: right;
    margin-right: 7%;

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}

.greeting h4{
    vertical-align: middle;
    font-family: Tahoma;
    font-size: 32px;
    margin-left: 15px;
} */

/* Sidebar navigation */
.file-nav-container{
    width:20%;
    height:100%;
    background-color: #484848;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #c3c3c3;
}

.btn-delete-file{
  text-align:center;
}

.file-nav-container h2 {
    font-family: Tahoma;
    text-align: center;
    font-weight: bold;
    margin-top: 10%;
    color:white;
}


ul.file-nav-list {
  list-style-type: none;
  padding:0;
  width: 100%;
}

.file-nav-list a {
  padding-left:10%;
}

.file-nav-list input{
  display: flex;
  margin:4% 1% 1% 0;
}

/* .file-nav-list a{
  padding: 2% 70% 2% 2%;
} */

.file-nav-list a{
  display:block;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: #A8A8A8;
  width: 100%;
}

.file-nav-list a:link, .file-nav-list a:visited, .file-nav-list a:focus {
  color: #A8A8A8;
  background: #484848;
}

.file-nav-list a:hover{
  background: #787878;
  color:white;
  cursor:pointer;
}

.nav-checkbox{
  float:right;
}

.upload{
    padding-top: 10px;
}

.upload input{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;

    box-sizing: border-box;
}

.upload button{
    background-color: #5F9EA0;
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;

    box-sizing: border-box;
}
#dropZone {
  border: 3px dashed #0088cc;
  padding: 50px;
  width: 90%;
  height: 150%;
  margin-top: 20px;
  margin: 16px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.5s;
  background-color: #f5f5f5;
  display: block;
  position: relative;
}
.inputfile {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #2699ab;
  display: inline-block;
  cursor: pointer;
  border: solid;
  border-width: 1px;
  border-color: #124d77;
  width: 150px;
  height: 20px;
  text-align: center;
  font-size: 18px;
}
.inputfile:focus + label {
outline: 1px dotted #000;
outline: -webkit-focus-ring-color auto 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #228999;
}

#dropZone:after,
#dropZone:before {
position: absolute;
content: "";
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: #fff;
z-index: -2;
border-radius: 8px 8px 0 0;
}

#dropZone:before {
z-index: -1;
background: repeating-linear-gradient(
  45deg,
  transparent,
  transparent 5%,
  black 5%,
  black 10%
);
opacity: 0;
transition: 0.5s;
}

#dropZone.fileHover:before {
opacity: 0.25;
}
#files {
  border: 1px dotted #0088cc;
  padding: 20px;
  width: 200px;
  display: none;
}

#error {
  color: red;
  display: none;
}
#dropZone.fileHover {
box-shadow: 0 0 16px blue;
}
#progressBar {
  display: none;
}
#progress {
  display: none;
}
.upload{
    width:100%;
    height:28%;
    background-color: #f5f5f5;
}
