*{
    margin: 0;
    padding: 0;
}

.background{
    width:100%;
    height:100vh;
}

.header{
    background-color: #f4f4f4; 
    padding: 0px;
    width: 100%;
    height: 130px;
    border-bottom: 5px solid red
}

.logo{
    background-color: #f4f4f4; 
    float: left;
    width: 15%;
    height: 100%;
    box-sizing: border-box;
}

.greeting{
    background-color: #f4f4f4; 
    float: right;
    width: 85%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.filelist{
    width:15%;
    height:100%;
    background-color: salmon; 
    float: left;

    padding: 5px;
    box-sizing: border-box;
}

.maindisplay{
    width:85%;
    height:100%;
    background-color: rgb(49, 48, 38); 
    float: right;
}

.upload{
    width:100%;
    height:20%;
    background-color: khaki; 
}

.icons{
    width:100%;
    height:80%;
    background-color: #f4f4f4;
}


.greeting button{
    float: right;
    margin-right: 7%;

    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
}

.greeting h4{
    vertical-align: middle;
    font-family: Tahoma;
    font-size: 32px;
    margin-left: 15px;
}

.filelist p {
    font-family: Tahoma;
    text-align: center;
    font-weight: bold;
    margin-top: 10%;
}

.filelist button{
    margin: 10% 20% 10% 20%;

    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;

    box-sizing: border-box;
}

.filelist input{
    
}

.filelist a{
    text-decoration: none;
}

.filelist a:hover {
    text-decoration: underline;
}

.upload{
    padding: 10px 5%;
}

.upload input{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;

    box-sizing: border-box;
}

.upload button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;

    box-sizing: border-box;
}
